.cont {
    background-color: rgb(7, 56, 71);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.cont button {
    color: white;
}